node_modules/

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.env*.local

/public/assets
/public/system

/yarn-error.log
yarn-debug.log*
.yarn-integrity

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

/coverage/
/spec/tmp

rerun.txt
pickle-email-*.html

capybara-*.html
.rspec
